{% extends '::base.html.twig' %}

{% block body -%}

<body>
    <div class="container">
        <div class="header">
                <div class="brand_container">
                        <img src="/assets/img/wykop.png" class="img-brand">
                        <span class="tag"><a href="http://www.wykop.pl/tag/ruszdupe">/#RuszDupe</a></span>
                </div>
                <div class="avatar_container">
                        <a href="?wyloguj">
                                <img style="background-image: url('{{ token.getAttribute('wykop_avatar') }}');" class="img-avatar"alt="">
                        </a>
                        <span class="user">Witaj, {{ token.getUser() }}</span>
                </div>
        </div><!-- header -->
	
        <div class="content">

	{{ form(form) }}


	</div><!-- content -->	
	<div id="trainingChartContainer"></div>
    </div>

    <script src="/assets/js/jquery.canvasjs.min.js"></script>
    <script src="/assets/js/chart.js"></script>

</body>

{% endblock %}
